/* history.component.css */
.history-container {
  padding: 20px;
 
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  padding: 20px;
}

.parcel-lists {
  display: flex;
  gap: 20px;
}

.parcel-in, .parcel-out {
  width: 50%;
  border: 1px solid lightgray;

}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
