<mat-card>
  <form [formGroup]="parcelInForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Consignment Number</mat-label>
      <input matInput formControlName="consignmentNumber" placeholder="Enter Consignment Number">
      <mat-error *ngIf="parcelInForm.get('consignmentNumber')?.invalid">Consignment Number is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Consignment Date</mat-label>
      <input matInput [matDatepicker]="consignmentDatePicker" formControlName="consignmentDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="consignmentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #consignmentDatePicker></mat-datepicker>
      <mat-error *ngIf="parcelInForm.get('consignmentDate')?.invalid">Consignment Date is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Received Date</mat-label>
      <input matInput [matDatepicker]="receivedDatePicker" formControlName="receivedDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="receivedDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #receivedDatePicker></mat-datepicker>
      <mat-error *ngIf="parcelInForm.get('receivedDate')?.invalid">Received Date is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sender Location Code</mat-label>
      <mat-select formControlName="senderLocCode">
        <mat-option *ngFor="let loc of locationCodes" [value]="loc">{{ loc }}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelInForm.get('senderLocCode')?.invalid">Sender Location Code is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sender Department</mat-label>
      <mat-select formControlName="senderDepartment">
        <mat-option *ngFor="let dept of senderDepartments" [value]="dept">{{ dept }}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelInForm.get('senderDepartment')?.invalid">Sender Department is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sender Name</mat-label>
      <mat-select formControlName="senderName">
        <mat-option *ngFor="let sender of senders" [value]="sender">{{ sender }}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelInForm.get('senderName')?.invalid">Sender Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Recipient Department</mat-label>
      <mat-select formControlName="recipientDepartment">
        <mat-option *ngFor="let dept of recipientDepartments" [value]="dept">{{ dept }}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelInForm.get('recipientDepartment')?.invalid">Recipient Department is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Recipient Name</mat-label>
      <mat-select formControlName="recipientName">
        <mat-option *ngFor="let recipient of recipients" [value]="recipient">{{ recipient }}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelInForm.get('recipientName')?.invalid">Recipient Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Courier Name</mat-label>
      <mat-select formControlName="courierName">
        <mat-option *ngFor="let courier of couriers" [value]="courier">{{ courier}}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelInForm.get('courierName')?.invalid">Courier Name is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="parcelInForm.invalid">Submit</button>
  </form>
</mat-card>
