.profile-card {
    max-width: 400px;
    margin: 20px auto;
  }
  
  .profile-photo-container {
    display: flex;
    justify-content: center;
    margin-top: -40px; /* Adjust this value if needed */
  }
  
  .profile-photo {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  mat-card-header {
    text-align: center;
    align-items: center;
    margin-left: 140px;
  }
  
  mat-card-content {
    text-align: center;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  