<mat-card class="profile-card">
    <div class="profile-photo-container">
      <img class="profile-photo" src="../../../../assets/person.jpg" alt="Profile Photo">
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ profile?.EmpName }}</mat-card-title>
        <mat-card-subtitle>{{ profile?.Designation }}</mat-card-subtitle>
        <mat-card-subtitle>{{ profile?.Role }}</mat-card-subtitle>
        <mat-card-subtitle>{{ profile?. locationName }}</mat-card-subtitle>                                  
      </mat-card-header>
    </mat-card>
  </mat-card>
 